.listings {
	position: relative;
	width: 100%;
	z-index: 3;

	@media(min-width: 992px) {
		border-left: 1px solid $color-blue;
		height: calc(100vh - 92px);
		margin-left: 50%;
		overflow-y: scroll;
		width: 50%;
	}
}

.cards-list {
	@include grid-container(100%);
	background-color: #E1E2E1;
	padding: $small-spacing;

	&.is-empty {
		background-color: $light-gray;
	}
}

.card {
	// @include row;
	background-color: $color-white;
	border: 3px $color-white solid;
	box-shadow: $box-shadow-card;
	cursor: pointer;
	margin-bottom: $small-spacing;
	outline: transparent;
	padding: 10px;
	position: relative;
	transition: all .3s linear;

	&:hover {
		background-color: $light-gray;
		border-color: $light-gray;
	}

	&.is-active {
		border-color: $color-red-l;

		&:hover {
			background-color: $color-white;
			border-color: $color-red-l;
		}

		.index {
			background-color: $color-red-l;
			box-shadow: $box-shadow-button;
		}
	}

	.index {
		@include size(24px);
		@include position(absolute, 0 0 null null);
		background-color: rgba($color-black, .2);
		border-radius: 50%;
		color: $color-white;
		font-size: 14px;
		line-height: 24px;
		text-align: center;
	}

	.store-img__wrap {
		float: left;
		margin-right: 16px;
		width: 250px;

		img {
			@include margin(null auto);
			display: block;
			max-width: 100%;
			max-width: calc(100%);
		}
	}

	.store__city {
		color: $color-blue-l;
		font-size: 24px;
		font-weight: 700;
		line-height: 1;
		margin-bottom: $small-spacing / 2;

		small {
			font-size: 12px;
			font-style: italic;
		}
	}

	.store__address {
		font-style: normal;
	}

	.store__contact {
		@include margin($small-spacing null ($small-spacing / 2));
		line-height: 1;

		li {
			display: inline-block;
			margin-bottom: $small-spacing / 2;
			margin-right: $base-spacing;

			&:last-of-type {
				margin-right: 0;
			}
		}

		svg {
			display: inline-block;
			fill: $color-blue-d;
			height: 14px;
			margin-right: 4px;
			max-height: 100%;
			max-width: 100%;
			vertical-align: middle;
		}
	}

	.store__manager {
		line-height: 1.2;

		dt {
			font-size: 12px;
			font-weight: 400;
			text-transform: uppercase;
		}

		dd {
			font-weight: 500;
		}
	}

	.details {
		float: left;
		position: relative;
		width: calc(100% - 266px);
	}

}

.warning {
	font-size: 30px;
	margin-top: 30%;
	text-align: center;

	img {
		margin: 0 auto 30px;
		max-width: 100px;
	}
}
