.listings {
  margin-left: 50%;
  position: relative;
  width: 50%;
	z-index: 3;
	border-left: 1px solid $color-blue;
}

.cards {
  max-width: 100%;
}

.cards-list {
	@include outer-container(100%);
  background-color: #E1E2E1;
  padding: $small-spacing;

  &.is-empty {
    background-color: $light-gray;
  }
}

.card {
	@include row;
	transition: all 0.3s linear;
  background-color: $color-white;
	border: 3px $color-white solid;
	margin-bottom: $small-spacing;
  cursor: pointer;
  padding: 10px;
	position: relative;
	outline: transparent;
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

  &:hover {
    background-color: $light-gray;
    border-color: $light-gray;
	}

	&.is-active {
		border-color: $color-red-l;

		&:hover {
			background-color: $color-white;
			border-color: $color-red-l;
		}

    .index {
			background-color: $color-red-l;
			box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    }
	}

	.index {
    background-color: rgba(0, 0, 0, 0.2);
    color: $color-white;
		font-size: 14px;
		line-height: 24px;
		border-radius: 50%;
		text-align: center;
		@include size(24px)
		@include position(absolute, 0 0 null null);
  }

	.store-img__wrap {
		float: left;
		width: 250px;
		margin-right: 16px;
		img {
			@include margin(null auto);
			display: block;
			max-width: 100%;
			max-width: calc(100%);
		}
	}

	.store__city {
		font-size: 24px;
		font-weight: 700;
		margin-bottom: $small-spacing / 2;
		color: $color-blue-l;
    line-height: 1;
    small {
      font-size: 12px;
      font-style: italic;
    }
	}

	.store__address {
		font-style: normal;
	}

	.store__contact {
		line-height: 1;
		@include margin($small-spacing null ($small-spacing / 2));
		li {
			margin-bottom: $small-spacing / 2;
			display: inline-block;
			margin-right: $base-spacing;
			&:last-of-type {
				margin-right: 0;
			}
		}
		svg {
			display: inline-block;
			margin-right: 4px;
			vertical-align: middle;
			fill: $color-blue-d;
			height: 14px;
			max-width: 100%;
			max-height: 100%;
		}
	}

	.store__manager {
		line-height: 1.2;
		dt {
      font-size: 12px;
      font-weight: 400;
			text-transform: uppercase;
		}
		dd {
			font-weight: 500;
		}
	}

	.details {
		float: left;
		width: calc(100% - 266px);
    position: relative;
  }

}

.warning {
  font-size: 30px;
  margin-top: 30%;
  text-align: center;

  img {
    margin: 0 auto 30px;
    max-width: 100px;
  }
}
