.gm-style-iw {
	>div {
		@include outer-container(100%);

		header {
			background-color: $color-blue;
			border-top: 3px solid $color-red-l;
			color: $color-white;
			padding: 4px;
			text-align: center;

			>* {
				margin-bottom: 0;
			}

			h3 {
				font-size: 20px;
			}

			h4 {
				font-size: 14px;
			}
		}
	}
}

.map-box {
	background-size: contain;
	height: 200px;
	width: 300px;
}